.parent {
    position: relative;
    height: 150px;
}
.wd-banner {
    height: 250px;
}
.wd-avatar {
    position: absolute;
    left: 50px;
    top: 150px;

    width: 150px;
    height: 150px;

    background-size: cover;

    background-position: top center;

    border-radius: 50%;
}