body {
    background: black;
    margin-top: 20px;
}


.wd-col-background {
    border-radius: 15px;
    background-color: #2C2B2B;
}

.wd-search-bar {
    border-radius: 16px;
    border-color: #2F3336;
    background-color: #2F3336;
    color: white;
    border-width: 1px;
    text-indent: 20px;
    padding: 12px 20px 12px 40px;
}

.wd-gear-icon {
    position: relative;
    top: 12px;
    color: #1DA1F2;
}

.wd-navigation-bar {
    color: #767D6E;
    font-weight: bold;
    font-size: 15px;
    padding: 16px;
    float: left;
}

.wd-active {
    color: #1DA1F2;
    border-bottom: 3px solid #1DA1F2;
}

.wd-image {
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 25px;
    vertical-align: center;
}

.wd-author {
    color:white;
    font-size: 10px;

}

.wd-title {
    font-size: 16px;
    font-weight: bold;
    color: lightgray;

}

.wd-topic {
    font-size: 13px;
    color: #6E767D;

}
.wd-tweet-border {
    border-bottom: 1px solid rgba(255,255,255,.25);
    padding-top: 6px;
    padding-bottom: 6px;
}

.wd-col-border {
    border: 1px solid rgba(255,255,255,.25);
}

.wd-vertical-navbar {
    color: white;
    font-size: 20px;
    padding: 10px;

}


.wd-vertical-navbar-active {
    color: white;
    font-size: 20px;
    background: #1DA1F2;
    padding: 10px;
}

.wd-button {
    border-radius: 16px;
    background: #1DA1F2;
    color: white;
    font-size: 12px;
    text-align: center;
}

.wd-tweet-button {
    border-radius: 16px;
    background: #1DA1F2;
    color: white;
    font-size: 20px;
    text-align: center;
}

.wd-image-2 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-center {
    display:flex;
    align-items: center;
}