body {
    background-color: black;
    color: white;
    position: absolute;
    margin-left: 16px;
    font-family: "Helvetica Neue";
    border: 1px solid #2f3336;
}

.wd-from-border{
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.wd-title{
    color: white;
    font-size: 20px;
}

.wd-handle {
    color: lightgray;
    font-size: 13px;
}

.wd-avatar-image {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: inline-block;
    float: left;
}

.wd-bottom-border {
    border: 1px solid lightgray;
}

.wd-post-author {
    display: inline-block;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 15px;
    color: white;
    float: left;
}
.wd-handle-big {
    color: lightgray;
    font-size: 15px;
}

.wd-content {
    display: inline-block;
    padding-right: 16px;
    padding-bottom: 12px;
    font-size: 15px;
    color: white;
    float: right;
    max-width: 506px;
}


.wd-main-image {
    border: 1px solid lightgray;
    width: 504px;
    height: 264px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding-left: 12px;
    display: inline-block;
}

.wd-align {
    padding-left: 12px;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.wd-post-text
{
    padding: 12px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border: 1px solid lightgray;
    width: 504px;
}

.wd-post-title {
    font-weight: bold;
    font-size: 15px;
    color: white;

}

.wd-post-content {
    font-size: 15px;
    color: lightgray;
}

.wd-icon-bar {
    width: 100%;
    color: lightgray;
    overflow: auto;
}

.wd-icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    padding-left: 12px;
    color: lightgray;
    font-size: 12px;
}


.active {
    color: red;
}

.wd-icon-image {
    filter: grayscale(50%);
    width:20px;
    height: 20px;
}
